<div class="singleResult">
		<h2>
			<a href="{{result.url}}"
				>{{result.title}}</a
			>
		</h2>
		<p>
		{{result.description}}
		</p>
		<ul>
			<li>
				{{#each result.links as |link|}}
				<a class="sm" href="{{link.url}}"
					>{{link.title}}</a
				>
			</li>
			{{/each}}
		</ul>
	</div>
