<header>
      <div>
        <img class="logoresults" src="img/google.png" alt="Google logo" />
      </div>
      <form>
        <input type="search" name="searchres2" />
        <button class="primary resultspage">
          Search
        </button>
      </form>
    </header>
	  <main>
      <span class="numres">{{data.length}} Results</span>
			{{#each data as |element|}}
		  <div class="results">

        <h2>
          <a href="{{element.url}}"
            >{{element.title}}</a
          >
        </h2>
        <p>
        {{element.description}}
        </p>
        <ul>
          <li>
						{{#each links as |link|}}
            <a class="sm" href="{{link.url}}"
              >{{link.title}}</a
            >
          </li>
					{{/each}}
        </ul>
      </div>
			{{/each}}
    </main>
